{% extends "blog/base.html" %}
<!-- <!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>Blog {{title}}</title>
        {% else %}
            <title>Blog Thankyou-own</title>
        {% endif %}
    </head>
    <style>
        *{
            background-color:goldenrod;
            color: black;
        }
    </style>
    <body>
        <h1>Blog ThankYou!</h1>
    </body>
</html> -->

<!-- alternative -->

{% block content%}
<h1>Blog ThankYou!</h1>
{% endblock content %}
